.card {
  position: relative;
  width: 13rem;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 1;
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  background-color: #03c303;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
}
.card span {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
