.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.mainTitle {
  position: relative;
  color: #03c303;
  font-weight: 400;
  text-transform: uppercase;
}

.flexLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 2;
}

.flexRight ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.watermark {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  font-weight: 500;
}
