.header {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  max-width: 1200px;
  margin: auto;
}

.mainTitle {
  position: relative;
  color: #03c303;
  font-weight: 400;
  text-transform: uppercase;
  display: none;
}

.flexLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flexRight ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.watermark {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  font-size: 0.6rem;
  font-weight: 500;
}

@media (min-width: 500px) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .mainTitle {
    display: block;
  }
}
